# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:** 
* Popular languages for Data Science
* Common Libraries for Data Science
* Making Table in jupyter
* Using arithmetic in jupyter

## Some of the popular languages that Data Scientists use are:
1. Paython
2. R
3. SQL
4. Julia
5. Java
6. Scala

## Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. SciPy
5. SciKit-Learn

| Data Science Tools |
|------------------- |
|Jupyter notebook|
|RStudio |
|TensorFlow|

<br>
<h3> Below are a few examples of evaluating arithmetic expressions in Python </h3>

In [1]:
#  This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author 
Nusaiba Kambal